@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

body {
    margin: 0px;
    font-family: 'Gentium Book Plus', serif;
    text-align: center;
}

html {
    background: #FEFFE4;
}

h1 {
    margin: 50px;
}

h2 {
    margin: 20px;
}

